/* Ejemplo hermano adyacente
h2 + p {
    color: red;
} */

/* Ejemplo hermano general */
/* h2 ~ p{
    color:red;
} */

/* Ejemplo combinador hijo */
/* div > p{
    color: red;
} */

/* Ejemplo combinador descendiente */
div p{
    color: red;
}